div[class*="-container-outer"] {
    width: 100%;
}

div[class*="-container-outer"] div[class*="-container"] {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
}

.homepage-hero-container-outer {
    background-color: #495E57;
    padding: 1% 0 3% 0;
}

.homepage-hero-container {
    padding-left: 54px;
    padding-right: 54px;
}

.homepage-hero-container .text-section {
    width: 50%;
}

.homepage-hero-container .text-section h1 {
    font-family: "Markazi Text";
    font-size: 64px;
    font-weight: normal;
    color: #F4CE14;
    margin: 1rem 0 1rem 0;
}

.homepage-hero-container .text-section h2 {
    font-family: "Markazi Text";
    font-size: 48px;
    font-weight: normal;
    color: #FFFFFF;
    margin: 1rem 0 1rem 0;
}

.homepage-hero-container .text-section p {
    font-family: "Markazi Text";
    font-size: 36px;
    font-weight: normal;
    color: #FFFFFF;
    padding-right: 10%;
    margin: 1rem 0 1rem 0;
}

.homepage-hero-container .text-section button {
    font-family: "Karla";
    font-size: 32px;
    font-weight: normal;
    background-color: #f4cf14f0;
    color: black;
    width: 80%;
    max-width: 400px;
    min-height: 72px;
    border-radius: 10px;
    margin: 2rem 0 1rem 0;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.75);
}

.homepage-hero-container .text-section button:hover {
    background-color: #F4CE14;
    cursor: pointer;
}

.homepage-hero-container .text-section button:active {
    background-color: #F4CE14;
    box-shadow: 0 2px rgba(0, 0, 0, 1);
    transform: translateY(4px);
  }

.homepage-hero-container .image-section {
    width: 50%;
    position: relative;
}

.homepage-hero-container .image-section img {
    position: absolute;
    top: 5%;
    border-radius: 16px;
    width: 100%;
    aspect-ratio: 1 / 1.183;
    object-fit: cover;
}

.homepage-specials-container-outer {
    flex-wrap: wrap;
    padding: 1% 0 3% 0;
}

.homepage-specials-container {
    padding-left: 54px;
    padding-right: 54px;
    gap: 20px;
    flex-wrap: wrap;
}

.homepage-specials-container h1 {
    font-family: "Markazi Text";
    font-size: 64px;
    font-weight: normal;
    width: 100%;
}

.homepage-specials-container div[class*="card"] { 
    border-radius: 16px 16px 0px 0px;
    background-color: rgba(217, 217, 217, 0.571);
    border-radius: 16px;
    height: fit-content;
    flex: 30%;
}

.homepage-specials-container div[class*="card"] img { 
    border-radius: 16px 16px 0px 0px;
    width: 100%;
    height: 230px;
    object-fit: cover;
}

.homepage-specials-container div[class*="card"] h2 {
    margin-left: 5%;
    margin-right: 5%;
    font-family: "Markazi Text";
    font-size: 36px;
    margin-top: 3%;
    margin-bottom: 3%;
}

.homepage-specials-container div[class*="card"] p {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0%;
    font-family: "Karla";
    font-size: 20px;
}

.homepage-specials-container div[class*="card"] h3 {
    margin-left: 5%;
    margin-right: 5%;
    font-family: "Markazi Text";
    font-size: 32px;
}

.homepage-specials-container div[class*="card"] a {
    text-decoration: none;
    color: black;
}

.homepage-reviews-container-outer {
    background-color: #FBDABB;
    box-shadow: 0 0 14px 10px rgba(0, 0, 0, 0.25);
    flex-wrap: wrap;
    padding: 1% 0 3% 0;
}

.homepage-reviews-container {
    padding-left: 54px;
    padding-right: 54px;
}

.scrollable-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

.homepage-reviews-container h1 {
    font-family: "Markazi Text";
    font-size: 64px;
    font-weight: normal;
    width: 100%;
    margin: 1rem 0 1rem 0;
}

.homepage-reviews-container div[class*="card"] {
    border-radius: 16px 16px 0px 0px;
    background-color: #495E57;
    border-radius: 16px;
    width: 330px;
    aspect-ratio: 1 / 0.69;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
    flex: 20%;
}

.homepage-reviews-container div[class*="card"] .gold-stars {
    margin-top: 5%;
    margin-bottom: 0%;
    margin-left: 4.2%;
}

.homepage-reviews-container div[class*="card"] .gold-stars img {
    width: 15.5%;
    padding: 1.8%;
}

.homepage-reviews-container div[class*="card"] h2 {
    margin-top: 5%;
    margin-bottom: 0%;
    margin-left: 6%;
    font-family: "Markazi Text";
    font-size: 40px;
    font-weight: normal;
    color: white;
}

.homepage-reviews-container div[class*="card"] p {
    margin-top: 5%;
    margin-left: 6%;
    margin-right: 6%;
    font-family: "Karla";
    font-size: 20px;
    color: white;
}

.homepage-story-container-outer {
    padding: 1% 0 3% 0;
}

.homepage-story-container {
    padding-left: 54px;
    padding-right: 54px;
}

.homepage-story-container .text-section {
    width: 50%;
}

.homepage-story-container .text-section h1 {
    font-family: "Markazi Text";
    font-size: 64px;
    font-weight: normal;
}

.homepage-story-container .text-section p {
    font-family: "Karla";
    font-size: 32px;
    font-weight: normal;
}

.homepage-story-container .image-section {
    width: 50%;
    position: relative;
}

.homepage-story-container img {
    border-radius: 16px;
    border: 1px solid black;
    position: relative;
    object-fit: cover;
}

.homepage-story-container .image-section .top-image {
    width: 60%;
    aspect-ratio: 1 / 1;
    top: 10%;
    left: 5%;
    z-index: 2;
}

.homepage-story-container .image-section .bottom-image {
    width: 60%;
    aspect-ratio: 1 / 1;
    top: -10%;
    left: 40%;
    z-index: 1;
}

@media screen and (max-width: 1188px) {
    .homepage-story-container .image-section {
        padding-top: 5%;
    }
}

@media screen and (max-width: 1080px) {
    .homepage-hero-container .image-section img {
        height: 93%;
    }
    .homepage-specials-container h1 {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
    .homepage-story-container .text-section p {
        font-size: 30px;
    }
}

@media screen and (max-width: 1000px) {
    .homepage-story-container .text-section p {
        font-size: 28px;
    }
    .homepage-story-container .image-section {
        padding-top: 10%;
    }
}

@media screen and (max-width: 900px) {
    .homepage-story-container .text-section p {
        font-size: 26px;
    }
    .homepage-story-container .image-section {
        padding-top: 15%;
    }
}

@media screen and (max-width: 800px) {
    .homepage-hero-container-outer {
        background-color: #495e577d;
        padding: 0;
    }
    div[class*="-container-outer"] div[class*="-container"] {
        position: relative;
    }
    .homepage-hero-container {
        padding-left: 30px;
        padding-right: 30px;
    }
    .homepage-specials-container {
        padding-left: 30px;
        padding-right: 30px;
    }
    .homepage-reviews-container {
        padding-left: 30px;
        padding-right: 30px;
    }
    .homepage-story-container {
        padding-left: 30px;
        padding-right: 30px;
    }
    .homepage-hero-container .text-section {
        width: 100%;
        z-index: 2;
    }
    .homepage-hero-container .image-section {
        width: 0%;
        height: 100%;
        position: absolute;
    }
    .homepage-hero-container .image-section img {
        position: absolute;
        left: -30px;
        top: 0;
        height: 100%;
        width: 100vw;
        border-radius: 0;
        z-index: -1;
        object-position: 0% 30%;
    }
    .homepage-story-container .text-section {
        width: 100%;
    }
    .homepage-story-container .image-section {
        width: 100%;
        padding-top: 0;
    }
    .homepage-story-container .image-section .top-image {
        width: 60%;
        top: 2%;
        left: 5%;
    }
    .homepage-story-container .image-section .bottom-image {
        width: 60%;
        top: -22%;
        left: 35%;
    }
}

@media (max-width: 1188px) {
    .homepage-specials-container div[class*="card"] { 
        flex: 40%;
    }
}

@media (max-width: 694px) {
    .homepage-specials-container div[class*="card"] { 
        flex: 100%;
    }
    .homepage-story-container .text-section p {
        font-size: 24px;
    }
}

@media screen and (max-width: 1000px) {
    .homepage-reviews-container div[class*="card"] {
        max-width: 400px;
        flex: 40%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 600px) {
    .scrollable-div {
        overflow-x: scroll;
        flex-wrap: nowrap;
        width: 150%;
    }
    .homepage-specials-container {
        padding-right: 0;
    }
    .homepage-specials-container div[class*="card"] {
        flex: none;
        width: 330px;
        height: 465px;
    }
    .homepage-reviews-container {
        padding-right: 0;
    }
    .homepage-reviews-container div[class*="card"] {
        flex: none;
    }
    .homepage-story-container .text-section p {
        font-size: 20px;
    }
}