footer {
    height: 280px;
    background-color: #495E57;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1080px;
    height: 100%;
    padding-left: 54px;
    padding-right: 54px;
    margin-left: auto;
    margin-right: auto;
}

.footer-container img {
    height: 190px;
    margin-top: auto;
    margin-bottom: auto;
}

.footer-links {
    align-items: left;
}

.footer-links h2 {
    font-family: "Markazi Text";
    font-size: 36px;
    color: white;
    font-weight: normal;
    margin-bottom: 0;
}

.footer-links ul {
    align-items: left;
    padding-left: 0%;
}

.footer-links li {
    list-style-type: none;
    font-family: "Karla";
    font-size: 16px;
    margin-top: 5%;
}

.footer-links li a {
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 800px) {
    footer {
        height: 250px;
    }
    .footer-container {
        padding-left: 30px;
        padding-right: 30px;
    }
    .footer-links h2 {
        font-size: 32px;
    }
}

@media screen and (max-width: 600px) {
    footer {
        height: 180px;
    }
    .footer-links h2 {
        font-size: 24px;
    }
    .footer-links ul {
        margin-top: 0;
    }
    .footer-links li {
        font-size: 12px;
    }
    .footer-container img {
        height: 140px;
    }
}

@media screen and (max-width: 450px) {
    footer {
        height: 140px;
    }
    .footer-container {
        padding-left: 30px;
        padding-right: 30px;
    }
    .footer-links h2 {
        font-size: 16px;
    }
    .footer-links li {
        font-size: 10px;
    }
    .footer-container img {
        height: 80px;
    }
}